.jumbotron {
    background-color: rgb(45, 131, 165);
}

.HomeBackground {
    margin-left: 700px;
}

.nav-link {
    color: white;
}

li {
    color: #fff;
    position: relative;
}

.aboutusimage {
    margin-left: 850px;
    margin-bottom: 100px;
}

li:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

li:hover:after {
    width: 100%;
    left: 0;
}

@media screen and (max-height: 300px) {
    ul {
        margin-top: 40px;
    }
}

.Transaction,
.money {
    margin-top: 250px;
    margin-left: 1000px;
}